* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container #carouselContainer {
    position: relative;
}

#container #carouselContainer #imgContainer {
    width: 700px;
    height: 300px;
}

#container #carouselContainer #imgContainer #imgActive {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

#container #carouselContainer .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#container #carouselContainer .btnUp {
    position: absolute;
    right: 50%;
    top: 5px;
}

#container #carouselContainer .btnDown {
    position: absolute;
    right: 50%;
    bottom: 5px;
}