* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 18, 144);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container #carouselContainer {
    position: relative;
}

#container #carouselContainer #imgContainer {
    display: flex;
    width: 1000px;
    height: 500px;
}

#container #carouselContainer #imgPreview {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #000000;
}

#container #carouselContainer #imgPreview img {
    width: 100%;
    height: calc(100% / 5);
    object-fit: cover;
    opacity: 0.4;
}

#container #carouselContainer #imgPreview img.active {
    opacity: 1;
    border: 3px solid blue;
}

#container #carouselContainer #imgContainer #imgActive {
    width: 80%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

#container #carouselContainer .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#container #carouselContainer .btnUp {
    position: absolute;
    right: 50%;
    top: 5px;
}

#container #carouselContainer .btnDown {
    position: absolute;
    right: 50%;
    bottom: 5px;
}